In [1]:
#Importing packages necessary for pre-processing.
import os
import pandas as pd
from csv import reader
import matplotlib.pyplot as plt
import numpy as np
import csv

#Printing data directory where data is located.
directory = os.getcwd()
print(directory)

/Users/hollandhysmith/Documents

In [2]:
#Identifing path of data file, opening in a "read-only" format to visualize the data.
path = directory + '/GitHub/Data-Analysis/data/2019_crime.csv'
data = pd.read_csv(path)
data.head()

,Unnamed: 0,unique_key,date,block,iucr,primary_type,description,location_description,arrest,domestic,fbi_code,year,district
0,0,11559377,2019-01-07 13:54:00+00:00,113XX S FORRESTVILLE AVE,0520,ASSAULT,AGGRAVATED:KNIFE/CUTTING INSTR,"SCHOOL, PUBLIC, BUILDING",True,False,04A,2019,5
1,1,11869349,2019-10-22 13:30:00+00:00,099XX S AVENUE M,0530,ASSAULT,AGGRAVATED: OTHER DANG WEAPON,STREET,False,True,04A,2019,4
2,2,11592195,2019-02-11 05:20:00+00:00,051XX S WENTWORTH AVE,0484,BATTERY,PRO EMP HANDS NO/MIN INJURY,JAIL / LOCK-UP FACILITY,True,False,08B,2019,2
3,3,11600810,2019-02-19 06:00:00+00:00,049XX S KOLIN AVE,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,RESIDENCE-GARAGE,False,False,14,2019,8
4,4,11615489,2019-03-06 05:30:00+00:00,079XX S KENWOOD AVE,1755,OFFENSE INVOLVING CHILDREN,CHILD ABANDONMENT,RESIDENCE,False,True,20,2019,4

In [3]:
#Open the file in read mode
filename = open(directory + '/GitHub/Data-Analysis/data/2019_crime.csv', 'r')
 
#Creating dictreader object
file = csv.DictReader(filename)
 
#Creating empty lists
date = []
arrest = []
domestic = []
 
#Iterating over each row and append
#values to empty list
for col in file:
    date.append(col['date'])
    arrest.append(col['arrest'])
    domestic.append(col['domestic'])
 
print('Date:', date[1])
print('Arrest:', arrest[1])
print('Domestic:', domestic[1])

Date: 2019-10-22 13:30:00+00:00
Arrest: False
Domestic: True

In [4]:
#Organizing lists into dictionaries
arrest_dates = dict(zip(date, arrest))
domestic_dates = dict(zip(date,domestic))

In [5]:
#Converting dictionaries into arrays
array_date = np.array(date)
array_domestic = np.array(domestic)
array_arrest = np.array(arrest)

In [6]:
array_date

array(['2019-01-07 13:54:00+00:00', '2019-10-22 13:30:00+00:00',
       '2019-02-11 05:20:00+00:00', ..., '2019-10-18 07:45:00+00:00',
       '2019-01-06 20:00:00+00:00', '2019-08-19 10:00:00+00:00'],
      dtype='<U25')

In [7]:
#Reshaping arrays into 2D
shape_date = np.reshape(array_date,(2,130421))
shape_domestic = np.reshape(array_domestic,(2,130421))
shape_arrest = np.reshape(array_arrest,(2,130421))

In [8]:
pd.DataFrame(domestic,date)

                               0
2019-01-07 13:54:00+00:00  False
2019-10-22 13:30:00+00:00   True
2019-02-11 05:20:00+00:00  False
2019-02-19 06:00:00+00:00  False
2019-03-06 05:30:00+00:00   True
...                          ...
2019-01-11 08:00:00+00:00   True
2019-10-12 12:11:00+00:00  False
2019-10-18 07:45:00+00:00  False
2019-01-06 20:00:00+00:00  False
2019-08-19 10:00:00+00:00  False

[260842 rows x 1 columns]

In [12]:
#Currently working - replace True/False with 0/1 for plotting
#x = domestic.replace("True", 1)